<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Private User Page</title>
  <link rel="stylesheet" href="/public/main.css">
</head>

<body>
  <main>
    <h1>Private User Page</h1>

    <p>User Name: {{username}}</p>
    <p>First Name: {{firstName}}</p>
    <p>Last Name: {{lastName}}</p>
    <p>Profession: {{profession}}</p>
    <p>Biography: {{biography}}</p>

    <p><a href="/logout" title="Logout">Secure Log-Out</a></p>

  </main>
</body>

</html>
