<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Available Inventory</title>
  <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
  <header>
    <a href="/"><img src="/public/GFE-logo.png" title="Go to GFE Home Page" alt="GFE Home Page"></a>
    <h1>Available {{fruitType}} Inventory:</h1>
  </header>

  <main class="product">

    <table>
      <tr>
        <th>
          <p>We have {{fruitStock}} {{fruitType}}s in stock right now.</p>
          <p>Average customer rating: <span id="rating">{{fruitStars}}/5</span></p>
          <p>
            {{#unless loggedIn}}
              <a href="/login" class="button">Login to Add to Cart</a>
              <a href="/register" class="button">Register</a>
            {{/unless}}

            {{#if loggedIn}}
              <a href="/product/{{fruitID}}/add" class="button">Add to Cart</a>
              <a href="/logout" class="button">Secure Logout</a>
            {{/if}}
          </p>
        </th>
        <th>INSERT PICTURE HERE<br></th>
      </tr>
    </table>

    <p>Help us out - write a review!</p>
    <p>
      <form action="/product/{{fruitID}}/review" method="POST" id="login-form">

        <label for="review-box">Your review:</label>
        <input type="text" name="review" id="review-box" size="50">
        <br><br>Stars:
        <div id="star-rating"></div>

        <button type="submit">Submit</button>
      </form>
    </p>


    {{#if error}}
      <p class="error">
        {{error}}
      </p>
    {{/if}}
  </main>
  <footer>
    <p><strong>Site created for CS-546 by:</strong> </p>
    <p>
      Dakota Crouchelli<br> Christopher Drew<br> Theodore Kluge
    </p>
    <p><em> Team Missing Bracket </em> </p>
  </footer>

  <script type="text/template" id="star-input-template">
    <input type="radio" name="stars" value="<% val %>" class="hidden" id="input-<% val %>" <% checked %> >
    <label for="input-<% val %>">
    <svg class="star active" viewBox="0 0 24 24" id="input-star-<% val %>">
        <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
    </svg>
    </label>
  </script>
  <script type="text/template" id="star-template">
    <svg viewBox="0 0 24 24">
        <path d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z" />
    </svg>
  </script>

  <script type="text/javascript" src="/public/js/lib/ajax.js"></script>
  <script type="text/javascript" src="/public/js/lib/util.js"></script>
  <script type="text/javascript" src="/public/js/product.js"></script>
</body>

</html>
